.main {
  height: fit-content;
}

.contact-us-text {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: clamp(14px, 1.2vw, 1.2vw);
  margin-top: clamp(20px, 1.6vw, 1.6vw);
}

.contact-us-text span {
  color: #ff8c00;
}

.contact-us-text p {
  color: #898888;
  font-size: clamp(15px, 1.3vw, 1.3vw);
  padding: clamp(10px, 1vw, 1vw);
  text-align: center;
}

.main .container {
  padding: clamp(80px, 7.2vw, 7.2vw) clamp(20px, 1.6vw, 1.6vw);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: clamp(20px, 1.6vw, 1.6vw);
}

.container .helpcenter {
  min-width: 220px;
  max-width: clamp(360px, 35vw, 35vw);
  text-align: center;

  vertical-align: top;
}

.container .helpcenter h2 {
  color: #065577;
  font-weight: 700;
  text-align: center;
  font-size: clamp(20px, 1.6vw, 1.6vw);
  padding-bottom: clamp(20px, 1.6vw, 1.6vw);
}

.container .formfill {
  width: 100%;
  display: flex;
  gap: clamp(20px, 1.6vw, 1.6vw);
  justify-content: space-between;
}

.formfill .inputbox {
  position: relative;
  width: 100%;

  margin-top: clamp(5px, .4vw, .4vw);
}

.textAreaMain {
  width: 100%;
  position: relative;
  margin-top: clamp(10px, 1vw, 1vw);
}

.formfill .inputbox input,
.helpcenter .textAreaMain textarea {
  width: 100%;
  padding: clamp(4px, .35vw, .35vw) 0;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  min-width: 100px;
  margin: clamp(10px, 1vw, 1vw) 0;
  border: none;
  border-bottom: clamp(1px, .09vw, .09vw) solid #24262b;
  outline: none;
  resize: none;
}

.helpcenter .textAreaMain textarea {
  height: clamp(100px, 10vw, 10vw);
  font-size: clamp(15px, 1.25vw, 1.25vw);
  border: clamp(1px, .09vw, .09vw) solid #898888;
  outline: none;
  resize: none;
}

.helpcenter .textAreaMain textarea:focus {
  background: #8988883b;
}

.helpcenter .textAreaMain textarea::-webkit-scrollbar {
  width: 0;
}

.formfill .inputbox span,
.helpcenter .textAreaMain span {
  position: absolute;
  left: clamp(2px,.15vw, .15vw);
  top: clamp(2px,.15vw, .15vw);
  padding: clamp(5px, .4vw, .4vw) 0;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  margin: clamp(10px, 1vw, 1vw) 0;
  pointer-events: none;
  transition: 0.4s;
  color: #898888;
}

.helpcenter .textAreaMain span {
  top: clamp(-2px,-.15vw, -.15vw);
}

.formfill .inputbox input:focus ~ span,
.formfill .inputbox input:valid ~ span,
.helpcenter .textAreaMain textarea:focus ~ span, 
.helpcenter .textAreaMain textarea:valid ~ span {
  color: #065577;
  font-size: clamp(13px, 1.2vw, 1.2vw);
  transform: translateY(-1.5vw);
}

.helpcenter input[type="submit"] {
  width: clamp(100px, 10vw, 10vw);
  background: #065577;
  color: white;
  cursor: pointer;
  padding: clamp(8px, .6vw, .6vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);
  border: none;
  border-radius: clamp(15px, 1.3vw, 1.3vw);
}

.helpcenter input[type="submit"]:hover {
  opacity: .85;
}

.helpcenter .send-btn {
  text-align: left;
}

.helpcenter .textarea input[type="submit"]:hover {
  opacity: .9;
}

.container .contactInfo {
  width: clamp(250px, 24vw, 24vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: clamp(40px, 3.7vw, 3.7vw);
  margin-top: clamp(25px, 1.9vw, 1.9vw);
}

.container .contactInfo .infobox {
  position: relative;
  padding: clamp(20px, 1.6vw, 1.6vw) 0;
  display: flex;
}

.container .contactInfo .infobox .box {
  width: clamp(35px, 2.3vw, 2.3vw);
  height: clamp(35px, 2.3vw, 2.3vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6b4b4;
  border-radius: 50%;
  font-size: clamp(18px, 1.5vw, 1.5vw);
}

.container .contactInfo .infobox .info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: clamp(20px, 1.6vw, 1.6vw);
  font-size: clamp(15px, 1.3vw, 1.3vw);;
  font-weight: 500;
}

.container .contactInfo .infobox .info h3{
  font-weight: normal;
  color: #ff8c00;
}

@media (max-width: 1200px) {
  .formfill .inputbox input:focus ~ span,
  .formfill .inputbox input:valid ~ span,
  .helpcenter .textAreaMain textarea:focus ~ span, 
  .helpcenter .textAreaMain textarea:valid ~ span {
    transform: translateY(-18px);
  }
}

@media (max-width: 640px) {
  .main .container {
    padding: 50px 10px;
    flex-direction: column;
  }
}
