/*affiliateprograme*/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(30px, 2vw, 2vw);
  width: 100%;
  text-align: center;
}

.main-container h1 {
  text-align: center;
  color: #065577;
  font-size: clamp(19px, 1.55vw, 1.55vw);
  padding: 0 clamp(20px, 1.6vw, 1.6vw);
}

.affiliate-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: clamp(20px, 1.6vw, 1.6vw);
  gap: clamp(20px, 1.6vw, 1.6vw);
}

.affiliate-layout .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(25px, 1.9vw, 1.9vw);
  color: white;
  border-radius: clamp(14px, 1.2vw, 1.2vw);
  text-align: left;
  box-shadow: 0 clamp(10px, 1vw, 1vw) clamp(20px, 1.6vw, 1.6vw) rgba(0, 0, 0, 0.26);
}

.affiliate-layout .card h3 {
  font-size: clamp(14px, 1.2vw, 1.2vw);
  margin-bottom: clamp(20px, 1.6vw, 1.6vw);
}

.affiliate-layout .card p {
  margin-bottom: clamp(20px, 1.6vw, 1.6vw);
  color: black;
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

.affiliate-layout .card h2 {
  font-size: clamp(18px, 1.5vw, 1.5vw);
}

.card:first-child {
  background: #024864;
}

.card:nth-child(2) {
  background: #0f610f;
}

.card:nth-child(3) {
  background: #b36403;
}

.card:nth-child(4) {
  background: #7a0b0b;
}

.card:nth-child(5) {
  background: #dedede;
  color: black;
}

.loweraffiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
}

.loweraffiliate h4 {
  color: #065577;
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.loweraffiliate .loweraffiliateLink {
  font-size: clamp(16px, 1.4vw, 1.4vw);
  background: #dedede;
  border: clamp(1px, .1vw, .1vw) solid #dedede78;
  padding: clamp(5px, .35vw, .35vw);
  min-width: fit-content;
  border-radius: clamp(5px, .35vw, .35vw);
}

.loweraffiliate h3 {
  font-size: clamp(14px, 1.25vw, 1.25vw);
  max-width: clamp(590px, 60vw, 60vw);
  text-align: center;
  margin: clamp(10px, 1vw, 1vw);
  color: #898888;
  font-weight: normal;
}

.linkbtn {
  display: flex;
  gap: clamp(30px, 2vw, 2vw);
  width: fit-content;
}

.linkbtn button {
  color: white;
  padding: clamp(8px, .7vw, .7vw);
  background: #065577;
  border: none;
  font-size: clamp(15px, 1.3vw, 1.3vw);
  cursor: pointer;
  display: inline;
  border-radius: clamp(2px, .18vw, .18vw);
}

.linkbtn .sharebtn {
  margin-left: 10%; 
}

.linkbtn button:hover {
  opacity: .9;
}

.loweraffiliate .withDrawButton {
  text-decoration: none;
  background: green;
  padding: clamp(8px, .7vw, .7vw) clamp(20px, 1.6vw, 1.6vw);
  border: none;
  font-size: clamp(15px, 1.3vw, 1.3vw);
  border-radius: clamp(3px, .2vw, .2vw);
  color: white;
}

.loweraffiliate .withDrawButton:hover {
  opacity: .9;
}

@media screen and (max-width: 640px) {
  .affiliate-layout {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 641px) {
  .affiliate-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 951px) {
  .affiliate-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
