.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: clamp(25px, 1.9vw, 1.9vw);

  width: 100%;
  padding: clamp(10px, 1vw, 1vw) 0 clamp(45px, 4.3vw, 4.3vw) 0;
}

.main .faqsheader {
  font-size: clamp(15px, 1.3vw, 1.3vw);
  padding: 0 clamp(10px, 1vw, 1vw);
  text-align: center;
}

.main .faqsheader span {
  color: #ff8c00;
}

.faq-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: clamp(25px, 1.9vw, 1.9vw);

  padding: 0 clamp(20px, 1.6vw, 1.6vw);
  width: 100%;
  max-width: clamp(800px, 80vw, 80vw);
  margin: 0 auto;
  font-size: clamp(17px, 1.55vw, 1.55vw);
}

.faq-item {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(15px, 1.3vw, 1.3vw);
  padding: 0 clamp(4px, .35vw, .35vw);
  border-radius: clamp(4px, .35vw, .35vw);
}

.faq-item:hover {
  background: #ff8c004f;
  box-shadow: inset 0 0 clamp(8px, .6vw, .6vw) rgba(0, 0, 0, 0.2);
}

.faq-item .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 550;
  position: relative;
  color: #065577;
  font-size: clamp(18px, 1.7vw, 1.7vw);
}

.faq-item .question span {
  color: #ff8c00;
  font-weight: normal;
}

.faq-item .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  text-align: left;
  margin-top: clamp(5px, .4vw, .4vw);
  color: #898888;
  font-size: clamp(17px, 1.5vw, 1.5vw);
}

.faq-item .answer p {
  font-weight: normal;
}

.question .arrow {
  display: inline-block;
  margin-left: clamp(5px, .4vw, .4vw);
  transition: transform 1s ease;
}

.arrow.up {
  transform: rotate(180deg);
}