footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(20px, 1.6vw, 1.6vw) 0 0 0;
  gap: clamp(30px, 2vw, 2vw);
  color: white;
  width: 100%;

  background-color: #0e020f;
}

.platform {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: clamp(40px, 3.7vw, 3.7vw);
 padding: 0 clamp(10px, 1vw, 1vw);
}

.platform-ih {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 1vw, 1vw);
}

.platform-ih img {
  width: clamp(40px, 3.7vw, 3.7vw);
  object-fit: contain;
}

.platform-ih h1 {
  font-size: clamp(25px, 1.9vw, 1.9vw);
  font-weight: 500;
}

.platform .desc {
  text-align: center;
}

.platform .desc p {
  max-width: clamp(1000px, 90vw, 90vw);
  color: white;
  font-size: clamp(15px, 1.3vw, 1.3vw);
  border: none;
  text-align: left;
  padding: 0;
}

.social-handles {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: clamp(450px, 50vw, 50vw);
  gap: clamp(20px, 1.7vw, 1.7vw);
  padding: 0 clamp(10px, 1vw, 1vw);
}

.social-handles li i {
  font-size: clamp(25px, 1.9vw, 1.9vw);
}

.social-handles li a {
  color: white;
}

.social-handles li a i.emmanuel {
  color: black;
}

.social-handles li .Instagram {
  color: #a71fd4;
}

.social-handles li .YouTube {
  color: red;
}

.social-handles li .Telegram {
  color: rgb(0, 136, 255);
}

.social-handles li .WhatsAapp {
  color: rgba(0, 128, 0, 0.874);
}

.social-handles li a:hover {
  opacity: .7;
}

.footer-menu {
  list-style: none;
  height: clamp(42px, 10vh, 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 1.7vw, 1.7vw);
}

.footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  border: clamp(1px, .1vw, .1vw) solid white;
  padding: clamp(8px, .7vw, .7vw);
  border-radius: clamp(12px, 1.1vw, 1.1vw);
  font-weight: normal;
}

.footer-menu li a:hover {
  color: #065577;
  border: clamp(1px, .1vw, .1vw) solid #065577;
}

.footer-menu li .active {
  border: clamp(1px, .1vw, .1vw) solid #ff8c00;
  color: #ff8c00;
}

.footer-menu li .active:hover {
  color: #ff8c00;
  border: clamp(1px, .1vw, .1vw) solid #ff8c00;
}

footer p {
  color: white;
  font-weight: 500;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  width: 98%;
  margin: 0 auto;
  border-top: clamp(2px, .16vw, .16vw) solid #8988883b;
  text-align: center;
  padding: clamp(10px, 1vw, 1vw);
}

footer p span {
  font-weight: bolder;
  color: #065577;
}

footer p a {
  color: green;
}

@media (max-width: 640px) {
  .footer-menu li {
    margin-top: 20px;
  }
}

@media (max-width: 510px) {
  .footer-menu {
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
  }
}