* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: white;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*----Loader----*/
.loader {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: opacity .75s, visibility 0.75s;
}

.loaderSpinner {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 3px solid #065577bc;
  border-top-color: #ff8c00;
  border-right-color: #ff8c00;
  border-bottom-color: #ff8c00;
  border-radius: 50%;
  animation: loading .5s linear infinite;
}

@keyframes loading {
  from {transform: rotate(0turn);}
  to {transform: rotate(1turn);}
}

/*----Cart.css----*/
#cartRoot {
  text-align: center;
  background: black;

  width: 260px;
  height: 100vh;
  padding: 20px;
  font-size: clamp(15px, 1.3vw, 1.3vw);
  color: #898888;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-y: auto;
  display: none;
}

#cartRoot::-webkit-scrollbar {
  width: 0;
}

main .cartHead {
  display: flex;
  gap: 60px;
  position: relative;
  color: #065577;
  font-size: clamp(10px, 1vw, 1vw);
  padding-bottom: 40px;
  width: 100%;
}

main .cartHead .material-icons-outlined {
  cursor: pointer;
  color: white;
}

main .js-itemsP {
  margin-bottom: 30px;
}

main #cartItem {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 20px;
}

main #cartItem .cartItemMainItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #cartItem .cartItemMainItem img {
  width: 40px;
}

main #cartItem .cartItemMainItem .cartDescPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 100%;
}

main #cartItem .cartItemMainItem span {
  font-size: clamp(12px, 1.1vw, 1.1vw);
  color: #898888;
  border-bottom: 1px solid #8988884d;
  padding-bottom: 5px;
}

main #cartItem .cartItemMainItem p {
  font-size: 17px;
  font-weight: 600;
}

main #cartItem .cartItemMainItem .fa-trash {
  font-size: clamp(18px, 1.5vw, 1.5vw);
  color: #065577;
  cursor: pointer;

  padding: 8px 10px;
  border-radius: 50%;
}

main #cartItem .cartItemMainItem .fa-trash:hover {
  color: #ff0f0fc7;
  background: #89888825;
  padding: 8px 10px;
  border-radius: 50%;
}

main .foot {
  margin-bottom: 20px;
  border-top: 1px solid ;
  padding-top: 5px;
  font-size: 17px;
  color: white;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

.main1 a {
  text-decoration: none;
  color: 
  white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  background: #ff0f0fc7;
  padding: 6px;
}

main a:hover {
  opacity: .87;
}

.cartPage-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/*----Newsletter----*/
.emailBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: clamp(15px, 1.3vw, 1.3vw) 0 clamp(20px, 1.6vw, 1.6vw) 0;
  gap: clamp(20px, 1.6, 1.6vw);
  background: #0e020f;
  width: 100%;
  margin-bottom: clamp(20px, 1.6, 1.6vw);
  overflow: hidden;
}

.emailBox p {
  color: white;
  font-size: clamp(20px, 1.6vw, 1.6vw);
  font-weight: 600;
  padding: 0 clamp(8px, .6vw, .6vw);
  text-align: center;
}

.emailBox input {
  padding: clamp(10px, 1vw, 1vw);
  font-size: clamp(16px, 1.4vw, 1.4vw);
  outline: none;
  margin-top: clamp(10px, 1vw, 1vw);
}

.emailBox .email-input {
  width: 100%;
  border-top-left-radius: clamp(8px, .6vw, .6vw);
  border-bottom-left-radius: clamp(8px, .6vw, .6vw);
  border: none;
  background: white;
  width: clamp(192px, 50vw,50vw);
}

.emailBox input[type="submit"] {
  color: white;
  background: #ff8c00;
  border: none;
  margin-left: clamp(-1px, -.1vw, -.1vw);
  cursor: pointer;
  border-top-right-radius: clamp(8px, .6vw, .6vw);
  border-bottom-right-radius: clamp(8px, .6vw, .6vw);
}

.emailBox input[type="submit"]:hover {
  opacity: .87;
}

.emailBox .newsletterEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 clamp(10px, 1vw, 1vw);
}
