header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: #065577;
}

.nav-bar {
  width: 100%;
  display: flex;
  padding: 0 clamp(12px, 2.5vw, 2.5vw);
  gap: clamp(35px, 3vh, 3vh);
  height: clamp(50px, 10vh, 10vh);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.nav-bar .icon {
  height: clamp(50px, 10vh, 10vh);
  padding: clamp(18px, 1.5vw, 1.5vw) clamp(18px, 1.5vw, 1.5vw) clamp(18px, 1.5vw, 1.5vw) 0;
  display: flex;
  gap: clamp(5px, .5vw, .5vw);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon .company-logo {
  height: fit-content;
  text-align: center;
}

.company-logo img {
  width: clamp(38px, 7.5vh, 7.5vh);
}

.icon .company-name {
  font-size: .8vw;
  font-weight: 600;

  height: 6.5vh;
  padding-left: .8vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: .9vh solid white;
  line-height: 3.5vh;
}

.menu {
  display: flex;
}

.menu::-webkit-scrollbar {
  width: 0;
}

nav ul .icon1 {
  font-size: clamp(25px, 1.9vw, 1.9vw);
  color: white;
  cursor: pointer;
  display: none;
  margin-left: 20px;
}

.sidebar-title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  display: none;
}

.sidebar-title1 .material-icons-outlined {
  font-size: clamp(25px, 1.9vw, 1.9vw);
  color: white;
  margin-left: 5px;
}

.sidebar-title1 > span {
  cursor: pointer;
  display: none;
}

.sidebar-brand1 {
  height:100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-brand1 .company-logo1 {
  height: fit-content;
}

.sidebar-brand1 .company-logo1 img {
  width: 35px;
}

.sidebar-brand1 .company-name1 {
  font-size: clamp(12px, );
  font-weight: 700;
  height: 80%;
  padding-left: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid white;
  line-height: 1rem;
  padding-right: 85px;
}

.menu li {
  margin-left: 3vw;
  position: relative;
  list-style: none;
}

.menu li a {
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  font-weight: normal;
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  border-bottom: clamp(1px, .1vh, .1vh) solid #065577;
  padding-bottom: clamp(2px, 2px, .2vh);
}

.menu li a:hover {
  color: #b6b4b4;
  border-bottom: clamp(1px, .1vh, .1vh) solid #065577;
  padding-bottom: clamp(2px, 2px, .2vh);
}

.menu li a.active {
  color: #ff8c00;
  border-bottom: clamp(1px, .1vh, .1vh) solid #ff8c00;
}

.dashboard-details2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  display: none;
  margin: 50px -31px 50px -16px;
}

.dashboard-details2 .signup2,
.dashboard-details2 .login2 {
  text-align: center;
  border-radius: 10px;
  border: none;

  width: 120px;
  transition: transform .5s ease;
}

.dashboard-details2 .signup2:hover,
.dashboard-details2 .login2:hover {
  transform: scale(1.1);
}

.dashboard-details2 .signup2 {
  background: none;
  border: clamp(1px, .1vw, .1vw) solid #898989;
}

.dashboard-details2 .login2 {
  background: #ff8c00;
}

.dashboard-details2 a {
  text-decoration: none;
  padding: 9px 0;
  color: white;
  font-size: clamp(12px, 1.1vw, 1.1vw);
}

.cart-logo {
  height: 90%;
  width: clamp(70px, 12vh, 12vh);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: clamp(10px, 1vw, 1vw);
}

.cart-logo .fa-cart-plus {
  font-size: clamp(25px, 5vh, 5vh);
}

.cart-logo .cart-tip {
  color: white;
  position: absolute;
  width: fit-content;

  bottom: clamp(-4px, -.35vw, -.35vw);
  opacity: 0;
  background-color: #ff8c00;
  padding: clamp(2px, .18vw, .18vw) clamp(5px, .4vw, .4vw);
  font-size: clamp(10px, 1vw, 1vw);
  font-weight: normal;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: .2s ease-in-out;
}

.cart-logo:hover {
  .cart-tip {
    opacity: 1;
  }
}

.cart-badge {
  text-align: center;
  background: #ff0f0fc7;
  color: white;
  border-radius: 50%;
  padding: 0 clamp(4px, .35vw, .35vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);

  position: absolute;
  top: clamp(6px, .3vw, .3vw);
  right: clamp(12px, .6vw, .6vw);
}

.dashboard-details {
  display: flex;
  justify-content: space-between;
  gap: 3vh;
}

.dashboard-details .signup,
.dashboard-details .login {
  text-align: center;
  padding: 1vh 0;
  border-radius: 1vw;
  border: none;

  width: 10vw;
  transition: transform .5s ease;
}

.dashboard-details .signup:hover,
.dashboard-details .login:hover {
  transform: scale(1.1);
}

.dashboard-details .signup {
  background: none;
  border: 0.01vh solid #898989;
}

.dashboard-details .login {
  background: #ff8c00;
}

.dashboard-details a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}

@media (max-width: 1100px) {
  .icon .company-name {
    font-size: 8px;
  
    height: 34px;
    padding-left: 5px;
    border-left: 5px solid white;
    line-height: 20px;
  }

  .menu {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 275px;
    padding: 20px 35px 35px 20px;
    overflow-y: auto;
    background: #065577;
    height: 100vh;
    box-shadow: -2px -2px 20px 1200px rgba(0, 0, 0, .85);
    display: none;
    border-top-left-radius: 1.5rem;
  }

  .sidebar-title1 {
    display: inline;
  }

  .menu li {
    margin-left: 0;
  }

  .menu li a {
    text-align: left;
    margin-top: 25px;
    padding: 7px 0 7px 10px;
    width: 80%;
    border-radius: 10px;
    border-bottom: none;
  }

  .menu li a:hover {
    border-bottom: none;
    color:#ff8c00 ;
    background: #8988885d;
    padding-bottom: 7px;
  }

  .menu li a.active {
    color: white;
    background: #ff8c00;
    border-bottom: 1px solid #ff8c00;
  }

  nav ul .icon1 {
    display: inline;
  }

  .dashboard-details {
    gap: 20px;
  }

  .dashboard-details .signup,
  .dashboard-details .login {
    padding: 8px 0;
    border-radius: 12px;
  
    width: 130px;
    transition: transform .5s ease;
  }

  .dashboard-details .signup {
    border: clamp(1px, .1vw, .1vw) solid #898989;
  }
  
  .dashboard-details a {
    font-size: clamp(12px, 1.1vw, 1.1vw);
  }
}

@media (max-width: 720px) {
  .nav-bar {
    padding: 0 12px;
    gap: 20px;
    min-width: none;
  }

  .dashboard-details {
    display: none;
  }

  .dashboard-details2 {
    display: flex;
  }
}