.main {
  min-height: 100vh;
}

.intro {
  padding: 0 clamp(12px, 2.5vw, 2.5vw);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
}

.intro h1 {
  font-size: clamp(30px, 2vw, 2vw);
  color: black;
  text-align: center;
}

.intro h1 span {
  color: #065577;
  text-align: center;
}

.intro .baseline {
  position: relative;
}

.baseline h1 {
  color: #ff8c00;
  font-size: clamp(18px, 1.5vw, 1.5vw);
  font-weight: 700;
  text-align: center;
  margin-bottom: clamp(-20px, -1.6vw, -1.6vw);
}

.intro .baseline h1::after {
  content: "";
  display: block;
  border-bottom: clamp(2px, .17vw, .17vw) solid #ff8c00;
  margin-top: clamp(10px, 1vw, 1vw);
  width: 100%;
}

.p-img {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
  width: 100%;
}

.p-img .desc {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: clamp(20px, 1.6vw, 1.6vw);

  font-size: clamp(17px, 1.55vw, 1.55vw);
  font-weight: 500;
  color: #24262b;
  min-width: none;
  max-width: clamp(600px, 55vw, 55vw);
  padding: 0 clamp(5px, .35vw, .35vw);
}

.p-img .desc h2 {
  color: #ff8c00;
  font-weight: 550;
  margin-bottom: clamp(10px, 1vw, 1vw);
  text-align: left;
  font-size: clamp(22px, 1.7vw, 1.7vw);
  margin-left: 0;
}

.p-img .desc h3 {
  font-weight: 500;
  text-align: left;
}

.p-img .desc p {
  text-align: left;
  font-size: clamp(16px, 1.4vw, 1.4vw);
  color: rgb(137, 136, 136);
}

.slideshow-container {
  width: clamp(310px, 35vw, 35vw);
  min-width: 310px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-container:hover {
  .prev, .next {
    display: inline;
  }
}

.slideshow-container .slides {
  display: flex;
  transition: transform .5s ease;
}

.mySlides {
  flex: 0 0 100%;
  background-size: cover;
  width: 100%;
  text-align: center;
  border-radius: clamp(25px, 1.9vw, 1.9vw);
}

.mySlides img {
  width: 100%;
  height: clamp(250px, 18vw, 18vw);
  margin-top: clamp(20px, 1.6vw, 1.6vw);
  object-fit: cover;
  border-radius: clamp(25px, 1.9vw, 1.9vw);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: clamp(10px, 1vw, 1vw);
  color: white;
  font-weight: bold;
  font-size: clamp(12px, 1.1vw, 1.1vw);
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  display: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.start-menu {
  height: clamp(100px, 10vw, 10vw);
  width: 100%;
  padding-top: clamp(20px, 1.6vw, 1.6vw);
  margin-bottom: clamp(70px, 6.5vw, 6.5vw);

  display: flex;
  align-items: center;
  justify-content: center;
}

.start-menu .button1,
.start-menu .button2 {
  padding: clamp(10px, .8vw, .8vw);
  align-items: center;

  border: none;
  border-radius: clamp(12px, 1.1vw, 1.1vw);
  background-color: #065577;
  transition: transform 0.5s ease;
}

.start-menu .button1:hover,
.start-menu .button2:hover {
  transform: scale(1.1);
}

.start-menu a {
  text-decoration: none;
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

.start-menu .button2 {
  margin-left: 30%;
}

/*----RESOURCES----*/
.resources {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: clamp(40px, 3.2vw, 3.2vw);

  height: fit-content;
  padding: clamp(100px, 10vw, 10vw) 0;
}

.resources .heading-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 1.3vw, 1.3vw);

  font-size: clamp(15px, 1.3vw, 1.3vw);
  color: black;
  font-weight: 500;
}

.resources .heading-bar span {
  color: #ff8c00;
}

.resources .heading-bar h1 {
  padding: 0 clamp(10px, 1vw, 1vw);
}

.resources .heading-bar p {
  color: #898888;
  text-align: center;
  padding: 0 clamp(10px, 1vw, 1vw);
}

.resource-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: clamp(18px, 3vw, 3vw);
  row-gap: clamp(40px, 3.2vw, 3.2vw);
  width: 100%;
  max-width: clamp(900px, 80vw, 80vw);
  padding: 0 clamp(20px, 1.6vw, 1.6vw);
}

.reso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, 1vw, 1vw);
  text-align: center;
  box-shadow: 0 clamp(15px, 1.3vw, 1.3vw) clamp(35px, 2.3vw, 2.3vw) rgba(0, 0, 0, 0.26);

  height: clamp(390px, 30vw, 30vw);
  min-height: 390px;
  width: 100%;
  max-width: clamp(280px, 23vw, 23vw);
  border: clamp(1px, .1vw, .1vw) solid #898888;
  border-radius: clamp(18px, 1.7vw, 1.7vw);
  padding: clamp(20px, 1.6vw, 1.6vw);
  font-size: clamp(9px, .8vw, .8vw);
  transition: transform 0.5s ease;
}

.reso:hover {
  transform: scale(1.1);
}

.reso p {
  font-size: clamp(16px, 1.4vw, 1.4vw);
  font-weight: 500;
  text-align: left;
}

.reso .button {
  border: none;
  border-radius: clamp(12px, 1.1vw, 1.1vw);
  background-color: #065577;
  padding: clamp(9px, .8vw, .8vw);
  align-items: center;
  transition: transform 0.5s ease;
}

.reso .button:hover {
  transform: scale(1.1);
}

.reso a {
  text-decoration: none;
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

@media (max-width: 696px) {
  .resource-list {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
  }
}

@media (max-width: 500px) {
  .resource-list {
    grid-template-columns: 1fr;
    width: fit-content;
  }
}

/*----Mentorship plan----*/
.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(50px, 3.6vw, 3.6vw);

  padding: clamp(40px, 3.2vw, 3.2vw) clamp(20px, 1.6vw, 1.6vw) clamp(100px, 10vw, 10vw) clamp(20px, 1.6vw, 1.6vw);
}

.plan .select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(23px, 1.7vw, 1.7vw);
  gap: clamp(15px, 1.3vw, 1.3vw);
}

.plan .select span {
  color: #ff8c00;
}

.plan .select p {
  color: #898888;
  font-size: clamp(16px, 1.4vw, 1.4vw);
  font-weight: 500;
  padding: 0 clamp(10px, 1vw, 1vw);
  text-align: center;
}

.mentorship-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: clamp(20px, 1.6vw, 1.6vw);
  column-gap: clamp(20px, 1.6vw, 1.6vw);

  border-radius: clamp(25px, 1.9vw, 1.9vw);
  width: 98%;
  margin: 0 auto;
  
}

.maincontainer {
  background-color: transparent;
  width:100%;

  height: clamp(390px, 32vw, 32vw);
  position: relative;
  overflow: hidden;
}

.maincontainer .add-to-cart,
.maincontainer .enroll-button {
  position: absolute;
  padding: clamp(8px, .7vw, .7vw);
  bottom: 0;

  background: #065577;
  border-radius: clamp(12px, 1.1vw, 1.1vw);

  transition: transform 0.5s ease;
}

.maincontainer .add-to-cart {
  padding: clamp(7px, .6vw, .6vw);
  top: clamp(12px, 1.1vw, 1.1vw);
  right: clamp(8px, .7vw, .7vw);
  bottom: clamp(345px, 28.3vw, 28.3vw);
  left: 62%;
  background: black;
}

.maincontainer .enroll-button {
  transform: translate(0, -50%);
}

.maincontainer a {
  text-decoration: none;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  color: white;
}

.maincontainer a.enroll-button {
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.maincontainer .enroll-button:hover {
  opacity: .85;
}

.maincontainer .add-to-cart:hover {
  opacity: .88;
}

.maincontainer .thecard {
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.maincontainer:hover .thecard {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ff8c00d4;
  color: black;

  border-radius: clamp(25px, 1.9vw, 1.9vw);
  padding: clamp(10px, 1vw, 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thefront .planfront {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(50px, 3.6vw, 3.6vw);
}

.thefront .planfront h1 {
  font-size: clamp(22px, 1.75vw, 1.75vw);
}

.thefront .planfront .hover-notify {
  background: black;
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  padding: clamp(10px, 1vw, 1vw);
  box-shadow: 0 clamp(15px, 1.3vw, 1.3vw) clamp(35px, 2.3vw, 2.3vw) rgba(0, 0, 0, 0.26);
  border: none;
}

.theback {
  padding: clamp(50px, 3.6vw, 3.6vw) 0 clamp(25px, 1.9vw, 1.9vw);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: black;
  font-size: clamp(15px, 1.3vw, 1.3vw);

  border: clamp(1px, .1vw, .1vw) solid #b6b4b4ab;
  transform: rotateY(180deg);

  border-radius: clamp(25px, 1.9vw, 1.9vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.theback .thebackp {
  text-align: left;
  padding: 0 clamp(15px, 1.1vw, 1.1vw);
}

.theback h2 {
  font-size: clamp(20px, 1.6vw, 1.6vw);
}

.theback p {
  font-weight: 500;
}

.theback h1 {
  font-size: clamp(45px, 3.5vw, 3.5vw);
  color: rgba(0, 0, 0, 0.738);
  margin-bottom: clamp(40px, 3.2vw, 3.2vw);
}

.plan .betradesMainDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
  width: fit-content;
}

.plan .betradesMainDescription img {
  width: clamp(500px, 48vw, 48vw);
  object-fit: cover;
  min-width: 300px;
  height: clamp(300px, 20vw, 20vw);
  border-top-left-radius: clamp(25px, 1.9vw, 1.9vw);
  border-bottom-right-radius: clamp(25px, 1.9vw, 1.9vw);
}

.plan .betradesMainDescription p {
  font-size: clamp(24px, 1.7vw, 1.7vw);
  height: fit-content;
  min-height: 20vw;
  width: 100%;
  max-width: clamp(500px, 45vw, 45vw);
  font-weight: 550;
  padding: clamp(10px, 1vw, 1vw);
  background: #89888812;
  border-radius: clamp(25px, 1.9vw, 1.9vw);
  color: rgba(0, 0, 0, 0.652);
}

@media (max-width: 832px) {
  .plan .betradesMainDescription {
    flex-direction: column;
    width: fit-content;
    padding: 0 clamp(12px, 2.5vw, 2.5vw);
  }

  .plan .betradesMainDescription img {
    width: 90vw;
    margin: 0 auto;
    height: 300px;
  }

  .plan .betradesMainDescription p {
    font-size:20px;
    max-width: 90vw;
    margin: 0 auto;
  }  
}

/*----Testimonials----*/
.testimonials {
  margin:clamp(50px, 3.8vw, 3.8vw) auto;
  margin-top: 0;
  margin-bottom: clamp(100px, 10vw, 10vw);
  padding: clamp(20px, 1.6vw, 1.6vw) clamp(12px, 2.5vw, 2.5vw) 0 clamp(12px, 2.5vw, 2.5vw);
  background-color: #fff;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: clamp(40px, 3.2vw, 3.2vw);
  width: 100%;
}

.testimonials h2 {
 color: #065577;
 text-align: center;
 padding: 0 clamp(10px, 1vw, 1vw);
 font-size: clamp(23px, 1.7vw, 1.7vw);
}

.testimonialRoot {
  display: flex;
  gap: clamp(20px, 1.6vw, 1.6vw);
  width: 100%;
  overflow: auto;
  padding: 0 0 clamp(10px, 1vw, 1vw) 0;
  border-radius: clamp(25px, 1.9vw, 1.9vw);
}

.testimonialRoot::-webkit-scrollbar {
  width: 0;
  height: clamp(.2rem, .3vw, .3vw);
}

.testimonialRoot::-webkit-scrollbar-thumb {
  border-radius: clamp(.8rem, 1.4vw, 1.4vw);
  height: clamp(.2rem, .3vw, .3vw);
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.testimonialRoot:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1vw, 1vw);
  justify-content: space-between;
  align-items: center;
  background: #0080003e;
  border-radius: clamp(20px, 1.6vw, 1.6vw);
  min-width: 233px;
  min-height: 250px;
  height: 100%;
  padding: clamp(10px, 1vw, 1vw);
}

.testimonial-content {
  text-align: center;
  margin-bottom: clamp(10px, 1vw, 1vw);
}

.testimonialTrader {
  text-align: left;
}

.testimonial-content p {
  font-size: clamp(16px, 1.4vw, 1.4vw);
  color: #333;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating .star {
  font-size: clamp(20px, 1.6vw, 1.6vw);
  color: #ddd;
}

.star.filled {
  color: #ff8c00;
}

.testimonial-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 1vw, 1vw);
  margin-top: clamp(10px, 1vw, 1vw);
}

.testimonial-author img {
  width: clamp(43px, 3.3vw, 3.3vw);
  height: clamp(43px, 3.3vw, 3.3vw);
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-author h4 {
  font-size: clamp(15px, 1.3vw, 1.3vw);
  color: #333;
  margin: clamp(5px, .35vw, .35vw) 0;
}

.testmonialsP {
  text-align: left;
}

.testimonial-author p {
  font-size: clamp(14px, 1.25vw, 1.25vw);
  text-align: left;
  color: #777;
  margin: 0;
}

/* WHY US*/
.preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(25px, 1.9vw, 1.9vw);

  margin-bottom: clamp(80px, 6.4vw, 6.4vw);
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
  margin-bottom: clamp(20px, 1.6vw, 1.6vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);

  color: #065577;
}

.why-us h3 {
  color: #898888;
  font-size: clamp(16x, 1.4vw, 1.4vw);
  font-weight: 400;
  padding: 0 clamp(10px, 1vw, 1vw);
  text-align: center;
}

.homegrid-position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(10px, 1vw, 1vw);
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: clamp(20px, 1.6vw, 1.6vw);
  row-gap: clamp(20px, 1.6vw, 1.6vw);
  padding: 0 clamp(10px, 1vw, 1vw);
  width: 100%;
  max-width: clamp(976px, 80vw, 80vw);
}

.benefit {
  width: 100%;
  height: clamp(350px, 33vw, 33vw);
  padding: clamp(20px, 1.6vw, 1.6vw);
  background-color: #eaeaeaa7;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  vertical-align: top;
  min-width: none;
  overflow: hidden;
}

.benefit:hover {
  background: #065577;
  border: none;

  .benefit-heading,
  .benefit-lower,
  .direction {
    color: white;
  }

  .direction span {
    color: #ff8c00;
  }

  .direction .button {
    background: #ff8c00;
  }
}

.benefit-upper {
  padding-top: clamp(10px, 1vw, 1vw);
  height: 30%;
  width: fit-content;
  margin-bottom: clamp(10px, 1vw, 1vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefit-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8c00;
  text-align: center;
  height: clamp(45px, 3.4vw, 3.4vw);
  width: clamp(45px, 3.4vw, 3.4vw);
  border-radius: 50%;
}

.benefit-logo img {
  object-fit: contain;
  height: clamp(30px, 2vw, 2vw);
  margin-bottom: clamp(5px, .35vw, .35vw);
}

.benefit-heading {
  display: flex;
  font-size: clamp(12px, 1.1vw, 1.1vw);
  font-weight: bolder;
  color: #065577;
}

.benefit-lower {
  height: 60%;
  width: fit-content;
  color: #898888;
  font-size: clamp(15px, 1.3vw, 1.3vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direction {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: clamp(10px, 1vw, 1vw);
  font-size: clamp(16px, 1.4vw, 1.4vw);
  font-weight: 500;
  color: #24262b;
  transition: none;
}

.direction span {
  color: #ff8c00;
  text-decoration: underline;
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.direction .button {
  padding: clamp(9px, .8vw, .8vw);
  align-items: center;
  margin-top: clamp(15px, 1.35vw, 1.35vw);

  border: none;
  border-radius: clamp(12px, 1.1vw, 1.1vw);
  background-color: #065577;
  transition: transform 0.5s ease;
}

.direction a {
  text-decoration: none;
  color: white;
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

.direction .button:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .mentorship-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}

@media (max-width: 820px) {
  .mentorship-container {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .maincontainer {
    height:390px;
  }
}

@media (max-width: 864px) {
  .home-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .why-us {
    font-size: 13px;
  }

  .home-grid {
    grid-template-columns: 1fr;
    width: fit-content;
  }

  .benefit {
    max-width: 310px;
  }
}

@media (min-width: 605px) {
  .mentorship-container {
    row-gap: 40px;
    column-gap: 40px;
  }
}

@media (max-width: 650px) {
  .p-img {
    flex-direction: column;
    gap: 20px;
  }

  .prev, .next {
    display: inline;
  }

  .p-img .desc {
    gap: 20px;
  }

  .p-img .desc h2 {
    margin-bottom: -6px;
  }

  .slideshow-container {
    min-width: none;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .plan .select {
    font-size: 20px;
  }

  .plan .select p {
    font-size: 15px;
  }

  .mentorship-container {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 325px;
  }

  .maincontainer {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .intro {
    gap: 17px
  }
  
  .intro h1 {
    font-size: 25px;
  }
  
  .intro .baseline h1 {
    font-size: 16px;
  }

  .p-img .desc h2 {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .intro h1 {
    font-size: 24px;
  }
  
  .intro .baseline h1 {
    font-size: 15px;
  }
}

@media (max-width: 325px) {
  .intro h1 {
    font-size: 23px;
  }
  
  .intro .baseline h1 {
    font-size: 14px;
  }

  .slideshow-container {
    min-width: 296px;
  }
}