body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 1.9vw, 1.9vw);
  height: fit-content;
  width: 65%;
  margin-bottom: clamp(100px, 10vw, 10vw);
}

.orderDetailsContainer h1 {
  text-align: center;
  font-size: clamp(18px, 1.7vw, 1.7vw);
  color: #065577;
}

.orderDetailsContainer h2 {
  text-align: left;
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.orderDetailsContainer .orderDetails {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.orderDetailsContainer .orderDetails table {
  border-collapse: collapse;
}

.orderDetailsContainer .orderDetails table tr {
  text-align: left;
}

.orderDetailsContainer .orderDetails table tr th, .orderDetailsContainer .orderDetails table tr td {
  border: clamp(1px, .1vw, .1vw) solid #898888;
  padding-left: clamp(10px, 1vw, 1vw);
  font-size: clamp(14px, 1.2vw, 1.2vw);
}

.orderDetailsContainer .orderDetails .imgDiv {
  padding: clamp(14px, 1.2vw, 1.2vw) clamp(8px, .7vw, .7vw);
  border: clamp(1px, .1vw, .1vw) solid #898888;
  margin-left: clamp(-1px, .1vw, .1vw);
  text-align: center;
}

.orderDetailsContainer .orderDetails img {
  width: clamp(155px, 15vw, 15vw);
  height: clamp(125px, 12vw, 12vw);
  object-fit: cover;
}

.orderDetailsContainer .customerDetails {
  display: flex;
  flex-direction: column;
}

form .inp-box {
  position: relative;
  margin-top: clamp(10px, 1vw, 1vw);
}

form input {
  width: 100%;
  padding: clamp(6px, .5vw, .5vw) 0;
  font-size: clamp(16px, 1.4vw, 1.4vw);
  min-width: 60px;
  margin: clamp(5px, .35vw, .35vw) 0;
  border: none;
  border-bottom: clamp(1px, .08vw, .08vw) solid #24262b;
  border-right: clamp(1px, .1vw, .1vw) solid #24262b;
  outline: none;
  resize: none;
  border-radius: clamp(14px, 1.25vw, 1.25vw);
  border-top-left-radius: 0;
  transition: .5s ease-in;
  box-shadow: 0 clamp(2px, .18vw, .18vw) clamp(2px, .18vw, .18vw) rgba(0, 0, 0, 0.26);
}

form input:hover {
  background: #dedede70;
}

form span {
  position: absolute;
  left: clamp(2px, .18vw, .18vw);
  top: clamp(-2px, .18vw, .18vw);
  padding: clamp(5px, .35vw, .35vw) 0;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  margin: clamp(10px, 1vw, 1vw) 0;
  pointer-events: none;
  transition: .5s;
  color: #666;
}
 
form input:focus ~ span,
form input:valid ~ span {
  color: #ff8c00;
  font-size: clamp(12px, 1.1vw, 1.1vw);
  transform: translateY(-2.1vw);
}

form .btn {
  background: red;
  color: white;
  padding: clamp(10px, 1vw, 1vw);
  cursor: pointer;
  width: 40%;
  margin-top: clamp(10px, 1vw, 1vw);
  font-size: clamp(15px, 1.3vw, 1.3vw);
  transition: .2s ease;
  border-radius: clamp(10px, 1vw, 1vw);
  text-decoration: none;
}

form .btn:hover {
  opacity: .85;
}