section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  gap: clamp(20px, 1.6vw, 1.6vw);
  padding: 0 clamp(12px, 2.5vw, 2.5vw) clamp(100px, 10vw, 10vw) clamp(12px, 2.5vw, 2.5vw);
}

section h1 {
  font-size: clamp(25px, 1.9vw, 1.9vw);
  font-weight: 700;
  color: black;
  padding: 0 20px;
}

section h1 span {
  color: #065577;
}

.calculatorLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(25px, 1.9vw, 1.9vw);
  width: clamp(420px, 35vw, 35vw);
  min-width: 350px;
}

.calculatorDesc {
  display: flex;
  justify-content: center;
  max-width: clamp(550px, 50vw, 50vw);
}

.calculatorDesc h1 {
  font-size: clamp(24px, 2.3vw, 2.3vw);
  padding: 0 clamp(20px, 1.6vw, 1.6vw);
  text-align: left;
  width: 100%;
  color: #065577;
  font-weight: normal;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 clamp(10px, 1vw, 1vw);
}

.app .mode-toggle {
  background: #ff8c00;
  position: absolute;
  top: clamp(16px, 1.4vw, 1.4vw);
  width: clamp(50%, 60%, 70%);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: clamp(3px, .27vw, .27vw) clamp(5px, .35vw, .35vw);
  border-radius: clamp(8px, .74vw, .74vw);

  font-size: clamp(13px, 1.1vw, 1.1vw);
  color: #065577;
  font-weight: 700;
  border: none;
  flex-wrap: nowrap;
}

.mode-toggle select {
  background-color: #f0f0f0;
  color: black;
  padding: clamp(5px, .35vw, .35vw);
  border: none;
  border-radius: clamp(5px, .35vw, .35vw);
  outline: none;
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(13px, 1.1vw, 1.1vw);
  margin-left: 5%;
}

.mode-toggle option {
  text-decoration: none;
  border: none;
  color: #898888;
  border-radius: 0;
  font-size: clamp(13px, 1.1vw, 1.1vw);
  cursor: pointer;
}

.calculator {
  background: #065577;
  width: 100%;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: clamp(1.5rem, 2.2vw, 2.2vw);
  overflow: hidden;
  box-shadow: 0 clamp(-2px, -.18vw, .18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);
  display: none;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: clamp(120px, 10vw, 10vw);
  padding: clamp(.5rem, 1vw, 1vw);
  color: white;
  text-align: right;
  background: #ff8c0045;
  box-shadow: 0 clamp(-2px, -.18vw, -.18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);

  margin: clamp(6px, .55vw, .55vw);
  border-top-left-radius: clamp(1.3rem, 1.95vw, 1.95vw);
  border-top-right-radius: clamp(1.3rem, 1.95vw, 1.95vw);
  flex: 1 1 0%;
  overflow: hidden;
}

.display .input {
  font-size: clamp(1rem, 1.6vw, 1.6vw);
  margin-bottom: clamp(0.2rem, .35vw, .35vw);
}

.display .output {
  font-size: clamp(1.8rem, 3.2vw, 3.2vw);
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.display .operator {
  color: #ff8c00;
}

.display .brackets,
.display .percent {
  color: lightblue;
}

.keys {
  background: #ff8c00;
  padding: clamp(1rem, 1.6vw, 1.6vw);
  border-radius: clamp(1rem, 1.6vw, 1.6vw) clamp(1rem, 1.6vw, 1.6vw) clamp(1.5rem, 2.2vw, 2.2vw) clamp(1.5rem, 2.2vw, 2.2vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: clamp(1rem, 1.6vw, 1.6vw);
  box-shadow: 0 clamp(-2px, -.18vw, .18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);
  margin: 0 clamp(2px, .18vw, 1.8vw) clamp(2px, .18vw, 1.8vw) clamp(2px, .18vw, 1.8vw);
}

.keys .key {
  position: relative;
  cursor: pointer;

  display: block;
  height: 0;
  padding-top: 55%;
  background: #065577;
  border-radius: clamp(1rem, 1.6vw, 1.6vw);
  transition: 0.2s;
  user-select: none;
}

.keys .key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: clamp(1rem, 1.6vw, 1.6vw);
  font-weight: 700;
  color: white;
}

.keys .key:hover {
  box-shadow: inset 0 0 clamp(8px, .7vw, .7vw) rgba(0, 0, 0, 0.2);
}

.keys .key.operator span {
  color: #ff8c00;
}

.keys .key.action span {
  color: rgb(36, 199, 253);
}

/* Position sizing Calculator*/
.calculator1 {
  background: #065577;
  width: 100%;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: clamp(1.5rem, 2.2vw, 2.2vw);
  overflow: hidden;
  box-shadow: 0 clamp(-2px, -.18vw, .18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);
}

.display1 {
  display: flex;
  min-height: 240px;
  padding: clamp(2rem, 3.5vw, 3.5vw) clamp(.5rem, 1vw, 1vw) clamp(.5rem, 1vw, 1vw) clamp(.5rem, 1vw, 1vw);
  color: white;
  text-align: right;
  background: white;
  box-shadow: 0 clamp(-2px, -.18vw, .18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);

  margin: clamp(6px, .55vw, .55vw);
  border-top-left-radius: clamp(1.3rem, 1.95vw, 1.95vw);
  border-top-right-radius: clamp(1.3rem, 1.95vw, 1.95vw);
  flex: 1 1 0%;
  overflow: hidden;
}

.display1 .content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: clamp(10px, 1vw, 1vw);
  color: black;
  font-size: clamp(15px, 1.3vw, 1.3vw);
}

.display1 .content select {
  font-size: clamp(.8rem, 1.2vw, 1.2vw);
  border: clamp(1px, .1vw, .1vw) solid #89888864;
  outline: none;
  background: #89888864;
}

.display1 .content select option {
  border: none;
  border-radius: 0;
  font-size: clamp(.8rem, 1.2vw, 1.2vw);
  background-color: white;
  overflow: visible;
}

.items__asset {
  display: flex;
  flex-direction: column;
}

.items__asset .currency {
  display: inline;
}
.items__asset .asset {
  display: none;
}

.items__asset .index--basket {
  display: none;
}

.content .requiredInputs {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1vw, 1vw);
}

.content .requiredInputs .theInput {
  display: flex;
  gap: clamp(5px, .4vw, .4vw);
}

.content .requiredInputs .theInput .money {
  display: none;
}

.content .requiredInputs .theInput .moneyInput {
  display: none;
}

.display1 .input2 {
  font-size: clamp(.9rem, 1.4vw, 1.4vw);
  margin-bottom: clamp(.2rem, .34vw, .34vw);
  width: 100%;
  border: clamp(1px, .1vw, .1vw) solid #898888a0;
  padding: clamp(2px, .18vw, .18vw) 0 clamp(2px, .18vw, .18vw) clamp(5px, .4vw, .4vw);
  font-weight: bold;
  height: 80%;
}

.display1 .input2 p {
  color: rgba(255, 0, 0, 0.547);
  font-weight: normal;
}

.display1 .input2.Balance {
  display: none;
}

.display1 .input2.percentageInput {
  display: none;
}

.theInput .doneBtn1 {
  color: white;
  cursor: pointer;
  background: green;
  padding: clamp(2px, .3vw, .3vw) clamp(8px, .7vw, .7vw);
  margin-left: clamp(-6px, -10vw, -10vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);
  height: 80%;
  border-top-right-radius: clamp(8px, .7vw, .7vw);
  border-bottom-right-radius: clamp(8px, .7vw, .7vw);
  display: none;
}

.theInput .doneBtn1:hover {
  opacity: .85;
}

.theInput .doneBtn {
  color: white;
  cursor: pointer;
  background: green;
  padding: clamp(2px, .3vw, .3vw) clamp(8px, .7vw, .7vw);
  margin-left: clamp(-6px, -10vw, -10vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);
  height: 80%;
  border-top-right-radius: clamp(8px, .7vw, .7vw);
  border-bottom-right-radius: clamp(8px, .7vw, .7vw);
  display: none;
}

.theInput .doneBtn:hover {
  opacity: .85;
}

.content .switch-risk {
  width: 100%;
  text-align: right;
  margin-top: clamp(-12px, -1.1vw, -1.1vw);
  color: white;
}

.content .switch-risk .switch {
  background: black;
  padding: clamp(2px, .18vw, .18vw);
  cursor: pointer;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  display: none;
}

.display1 .output1 {
  font-size: clamp(1rem, 1.6vw, 1.6vw);
  width: 100%;
  max-width: 100%;
  overflow: auto;
  background:#373e0064;
  border-radius: clamp(.4rem, .7vw, .7vw);
  padding: clamp(4px, .3vw, .3vw);
  display: none;
}

.display1 .output1 span {
  color: rgb(182, 4, 4);
}

.display1 .output1 span.unitsParagraph {
  color: rgba(0, 0, 0, 0.53);
}

.display1 .output1 .riskAmount {
  color: #065577;
}

.display1 .output1 .accountBalance {
  color: rgb(9, 123, 9);
}

.keys1 {
  background: #ff8c00;
  padding: clamp(1rem, 1.6vw, 1.6vw);
  border-radius: clamp(1rem, 1.6vw, 1.6vw) clamp(1rem, 1.6vw, 1.6vw) 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: clamp(1rem, 1.6vw, 1.6vw);
  box-shadow: 0 clamp(-2px, -.18vw, .18vw) clamp(16px, 1.4vw, 1.4vw) rgba(0, 0, 0, 0.26);
  margin: 0 clamp(2px, .18vw, 1.8vw) clamp(2px, .18vw, 1.8vw) clamp(2px, .18vw, 1.8vw);
}

.keys1 .key1 {
  position: relative;
  cursor: pointer;

  display: block;
  height: 0;
  padding-top: 33%;
  background: #065577;
  border-radius: clamp(1rem, 1.6vw, 1.6vw);
  transition: 0.2s;
  user-select: none;
}

.keys1 .key1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: clamp(1rem, 1.6vw, 1.6vw);
  font-weight: 700;
  color: white;
}

.keys1 .key1:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.keys1 .key1.action1 span {
  color: rgb(36, 199, 253);
}

.keys2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(20px, 1.6vw, 1.6vw);
  padding: 5px 10px 10px 10px;
}

.keys2 .key1 {
  background: #ff8c00;
  cursor: pointer;
  border-radius: clamp(1rem, 1.6vw, 1.6vw);
  padding: clamp(9px, .8vw, .8vw);
  width: 50%;
}

.keys2 .key1 span {
  font-size: clamp(.9rem, 1.58vw, 1.58vw);
  font-weight: 700;
}

.keys2 .key1 .res {
  color: rgb(164, 0, 0);
}

.keys2 .key1 .cal {
  color: rgb(2, 74, 2);
}

@media (max-width: 790px) {
  section {
    flex-direction: column;
    gap: 40px;
  }

  .calculatorLayout {
    width: 60vw;
    min-height: 90vw;
  }

  .calculatorDesc {
    max-width: 90vw;
  }
}

@media (max-width: 650px) {
  .calculatorLayout {
    width: 73vw;
  }
}

@media (max-width: 360px) {
  .app .mode-toggle {
    width: 70%;
  }
}

@media (max-width: 350px) {
  .calculatorLayout {
    min-width: 310px;
  }
}