.menu li a {
  border-bottom: clamp(1px, .08vw, .08vw) solid #065577;
}

.sing-up-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(30px, 2vw, 2vw);
  padding: clamp(20px, 1.6vw, 1.6vw) 10px;
  margin-bottom: 50px;
  padding: clamp(50px, 4.5vw, 4.5vw) clamp(12px, 2.5vw, 2.5vw) clamp(100px, 10vw, 10vw);
}

.signupWelcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clamp(30px, 2vw, 2vw);
}

.loginWelcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clamp(30px, 2vw, 2vw);
  min-width: clamp(300px, 30vw, 30vw);
}

.signupWelcome .welcomeMessg {
  color: black;
  font-size: clamp(25px, 1.9vw, 1.9vw);
  text-align: center;
  display: inline-block;
  max-width: clamp(300px, 24vw, 24vw);
}

.loginWelcome .welcomeMessg {
  color: black;
  font-size: clamp(30px, 2.1vw, 2.1vw);
  text-align: center;
  display: inline-block;
}

.signupWelcome .welcomeMessg span {
  color: #ff8c00;
}

.loginWelcome .welcomeMessg span {
  color: #ff8c00;
}

.sign-up {
  width: 100%;
  max-width: clamp(320px, 30vw, 30vw);
  min-width: 310px;
  background: white;
  padding: clamp(15px, 1.3vw, 1.3vw);
  border: clamp(1px, .1vw, .1vw) solid #898888;
  border-radius: clamp(25px, 1.9vw, 1.9vw);
  box-shadow: 0 clamp(15px, 1.3vw, 1.3vw) clamp(35px, 2.3vw, 2.3vw) rgba(0, 0, 0, 0.26);
  margin-bottom: clamp(20px, 1.6vw, 1.6vw);
}

.sign-up .error-message {
  margin-top: clamp(10px, 1vw, 1vw);
  color: red; 
  font-size: clamp(16px, 1.4vw, 1.4vw);
  border: clamp(1px, .1vw, .1vw) solid #898888;
  text-align: center;
  background: #dedede;
  padding: clamp(6px, .5vw, .5vw) 0;
  border-radius: clamp(14px, 1.25vw, 1.25vw);
  transition: .5s ease-in;
  box-shadow: 0 clamp(2px, .18vw, .18vw) clamp(2px, .18vw, .18vw) rgba(0, 0, 0, 0.26);
}

.sign-up h1 {
  text-align: center;
  font-size: clamp(20px, 1.6vw, 1.6vw);
  color: #065577;
}

.sign-up h4 {
  text-align: center;
  margin-top: clamp(10px, 1vw, 1vw);
  font-size: clamp(14px, 1.25vw, 1.25vw);
  color: #898888;
  font-weight: normal;
}

form {
  width: 100%;
  text-align: center;
}

form .inp-box {
  position: relative;
  margin-top: clamp(10px, 1vw, 1vw);
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: clamp(10px, 1vw, 1vw);
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-eye-slash {
  color: #898888;
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

.fa-eye {
  font-size: clamp(14px, 1.25vw, 1.25vw);
}

form input, form .inp-box #countrySelect {
  width: 100%;
  padding: clamp(6px, .5vw, .5vw) 0;
  font-size: clamp(16px, 1.4vw, 1.4vw);
  min-width: 60px;
  margin: clamp(5px, .35vw, .35vw) 0;
  border: none;
  border-bottom: clamp(1px, .08vw, .08vw) solid #24262b;
  border-right: clamp(1px, .1vw, .1vw) solid #24262b;
  outline: none;
  resize: none;
  border-radius: clamp(14px, 1.25vw, 1.25vw);
  border-top-left-radius: 0;
  transition: .5s ease-in;
  box-shadow: 0 clamp(2px, .18vw, .18vw) clamp(2px, .18vw, .18vw) rgba(0, 0, 0, 0.26);
}

form input:hover {
  background: #dedede70;
}

form span {
  position: absolute;
  left: clamp(2px, .3vw, .3vw);
  top: clamp(-2px, -.18vw, -.18vw);
  padding: clamp(5px, .35vw, .35vw) 0;
  font-size: clamp(14px, 1.25vw, 1.25vw);
  margin: clamp(10px, 1vw, 1vw) 0;
  pointer-events: none;
  transition: .5s;
  color: #666;
}

form input:focus ~ span,
form input:valid ~ span {
  color: #ff8c00;
  font-size: clamp(12px, 1.1vw, 1.1vw);
  transform: translateY(-2.1vw);
}

form .submit-btn {
  width: 70%;
  background: #065577;
  color: white;
  cursor: pointer;
  padding: clamp(9px, .8vw, .8vw);
  font-size: clamp(15px, 1.3vw, 1.3vw);
  border: none;
  border-radius: clamp(18px, 1.5vw, 1.5vw);
  margin-top: clamp(10px, 1vw, 1vw);
  transition: transform .5s ease;
}

form .submit-btn:hover {
  background: #065577;
  transform: scale(1.1);
}

form p {
  font-size: clamp(14px, 1.25vw, 1.25vw);
  margin-top: clamp(10px, 1vw, 1vw);
  font-weight: 600;
}

form .forgoP {
  font-size: clamp(15px, 1.3vw, 1.3vw);
  text-align: right;
  font-weight: normal;
}

form .forgoP a {
  color: #898888;
}

form a {
  color: #ff8c00;
}

.signupDescription {
  display: flex;
  gap: clamp(20px, 1.6vw, 1.6vw);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  color: white;
  font-size: clamp(18px, 1.6vw, 1.6vw);
}

.loginDescription {
  display: flex;
  gap: clamp(20px, 1.6vw, 1.6vw);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: clamp(10px, 1vw, 1vw) clamp(20px, 1.6vw, 1.6vw);
  color: white;
  font-size: clamp(18px, 1.6vw, 1.6vw);
}

.signupDescription img {
  height: clamp(350px, 30vw, 30vw);
  width: 100%;
  margin: 0 auto;
  max-width: clamp(570px, 50vw, 50vw);
  object-fit: cover;
}

.loginDescription img {
  height: clamp(250px, 19vw, 19vw);
  width: 100%;
  margin: 0 auto;
  max-width: clamp(570px, 50vw, 50vw);
  object-fit: cover;
  border-top-left-radius: clamp(30px, 2.6vw, 2.6vw);
  border-bottom-right-radius: clamp(30px, 2.6vw, 2.6vw);
}

.signupDescription p {
  text-align: left;
  display: inline-block;
  color: #898989;
  max-width: clamp(600px,55vw, 55vw);
}

.loginDescription p {
  text-align: left;
  display: inline-block;
  color: #898989;
  max-width: clamp(600px,55vw, 55vw);
}

@media (max-width: 1100px) {
  form input:focus ~ span,
  form input:valid ~ span {
    transform: translateY(-18px);
  }

  .menu li a {
    border-bottom: none;
  }
}

@media (max-width: 640px) {
  .sing-up-bar {
    flex-direction: column;
    margin-bottom: clamp(25px, 1.9vw, 1.9vw);
  }

  .signupWelcome .welcomeMessg {
    font-size: clamp(22px, 1.75vw, 1.75vw);
  }

  .signupDescription img {
    display: none;
  } 

  .loginDescription img {
    display: none;
  } 

  .signupDescription p, .loginDescription p {
    font-size: 20px;
  }
}

@media (max-width: 330px) {
  .sign-up {
    min-width: 95vw;
  }
}